.username-badge-container {
  display: inline-flex;
  align-items: center;
  gap: 0.35em;
}

.username-link {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
  transition: color 0.2s ease-in-out;
}

.username-link:hover {
  color: #4f46e5; /* indigo-600 */
  text-decoration: underline;
}

.role-badge-icon {
  width: 1.1em; /* Чуть больше размера шрифта */
  height: 1.1em;
  vertical-align: -0.15em; /* Для лучшего выравнивания по центру */
  display: inline-block;
}

.role-badge-icon-admin {
  color: #ec4899; /* pink-500 */
}

.role-badge-icon-moderator {
  color: #22c55e; /* green-500 */
} 